header {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
     rgba($light-slate, 0.6),
     rgba($dark-slate, 0.7)), 
      url(../img/hero.jpeg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    position: relative;
    
}
