/*allows us to start clean */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 
/* pixels that you want divided by 16px(default browser size) this gives the user the ability to zoom and you the ability to use rems */
/* 13 pixels looked good so 13/16 = .8125 */
html {
    font-size: 81.25%; 
}
body {
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    padding: 4rem;
    line-height: 1.9;
    color: #fff;
    box-sizing: border-box;
    background-color: #E3E4E5;
}

header {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
     rgb(72, 85, 99, 0.6),
     rgba(41, 50, 60, 0.7)), 
      url(./img/hero.jpeg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    letter-spacing: .5rem;
    overflow: hidden;
    position: relative;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    padding-top: 4rem;

}
.btn-container {
    text-align: center;
    margin-top: 5%;
    animation-name: moveLeft;
    animation-duration: 1s;

}
.btn:link, .btn:visited {
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    border-radius: 10rem;
    margin-bottom: 2rem;
    margin-left: .8rem;
    margin-right: .8rem;
    display: inline-block;
    transition: all .2s
}
.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
/* when you click */ /* This needs to be under hover! */
.btn:active { 
    transform: translateY(-.1rem); 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
.btn-gray {
    background-color: #E3E4E5;
    color: #985B50;
    opacity: 0.8;
}
.heading-primary {
    font-size: 4rem;
    display: inline-block;
    animation-name: moveUp;
    animation-duration: 1s
}
.heading-secondary {
    display: inline-block;
    font-size: 3rem;
    animation-name: moveUp;
    animation-duration: 1s
}
@keyframes moveLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
