.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(145, 153, 156, 0.6), rgba(70, 77, 83, 0.7)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    position: relative; 
    margin-bottom: 3rem;
}
  