.project-card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    position: relative;
    height: 33rem;

    &__side {
        height: 33rem;
        transition: all .6s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba($black, .1);
        border: .5rem;
        border-color: $black;
        border-radius: .3rem;
        -webkit-backface-visibility: hidden;

        
        &--front {

            &--image {
                max-width: 100%;

            }
        }
        &--back {
            display: inline-block;
            color: white;
            background-color: $dark-slate;
            transform: rotateY(180deg);
            //back side is already at 180 deg so we have to rotate it when we hover
                &--text{
                    display: table;
                    visibility: hidden;
                    transition: -.4s
                }
        }
    }

    &:hover &__side--front {
        //this only rotates the front
        -webkit-transform: rotateY(180deg);

    }
    &:hover &__side--back {
        //back side needs to rotate back to zero when hovered
        -webkit-transform: rotateY(0);
    }
    &:hover &__side--back--text {
        visibility: visible;
        transition-delay: .4s;

    }
}