.heading-about {
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
body {
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    line-height: 1.9;
    color: $white;
   
}
header {
    letter-spacing: .5rem;
    
    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: block;
        padding-top: 4rem;

            @include respond(phone) {
                top: 35%;
            }
            @include respond(tab-port) {
                top: 40%;
            }
        .heading-primary {
            font-size: 4rem;
            display: inline-block;
            animation-name: moveUp;
            animation-duration: 1s;
                
        }
        .heading-secondary {
            display: inline-block;
            font-size: 3rem;
            animation-name: moveUp;
            animation-duration: 1s;
            @include respond(phone) {
                font-size: 2.5rem;
            }
        }
    }
}
.section-about {
    .heading-tertiary {
        font-size: 3.5rem;
        font-weight: 700;
        color: $dark-slate;
        letter-spacing: .5rem;
    }
    .about-me {
            color: $dark-slate;
            font-size: 1.8rem;

            @include respond(phone) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            @include respond(tab-port) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    .skill-cards {
        color: $dark-slate;
        font-size: 1.5rem;

        @include respond(phone) {
            font-size: 1.9rem;
        }
    }
}

.section-projects {
    font-size: 3.5rem;
    font-weight: 700;
    color: $dark-slate;
    letter-spacing: .5rem;
    
    .heading-tertiary {
        font-size: 3.5rem;
        font-weight: 700;
        color: $dark-slate;
        letter-spacing: .5rem;
    }
}
.section-blog  {
    font-size: 3.5rem;
    font-weight: 700;
    color: $dark-slate;
    letter-spacing: .5rem;
}
.section-contact {
    font-size: 3.5rem;
    font-weight: 700;
    color: $dark-slate;
    letter-spacing: .5rem;
}


