.heading-about {
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
body {
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    line-height: 1.9;
    color: $white;
   
}
header {
    letter-spacing: .5rem;
    
    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: block;
        padding-top: 4rem;
        
        .heading-primary {
            font-size: 4rem;
            display: inline-block;
            animation-name: moveUp;
            animation-duration: 1s;
            
            // @include respond(small-phone) { //< 375px
            //     font-size: 3rem;
            // }
                
        }
        .heading-secondary {
            display: inline-block;
            font-size: 3rem;
            animation-name: moveUp;
            animation-duration: 1s
        }
    }
}
.section-about {
    .heading-tertiary {
        font-size: 3.5rem;
        font-weight: 700;
        color: $dark-slate;
        letter-spacing: .5rem;
    }
    .about-me {
            color: $dark-slate;
            font-size: 1.8rem;
        }
    .skill-cards {
        color: $dark-slate;
        font-size: 1.5rem;
    }
}

.section-projects {
    font-size: 3.5rem;
    font-weight: 700;
    color: $dark-slate;
    letter-spacing: .5rem;
    
    .heading-tertiary {
        font-size: 3.5rem;
        font-weight: 700;
        color: $dark-slate;
        letter-spacing: .5rem;
    }
     p {
        font-size: 3rem;
        letter-spacing:0;
     }
}
.section-blog  {
    font-size: 3.5rem;
    font-weight: 700;
    color: $dark-slate;
    letter-spacing: .5rem;
}
.section-contact {
    font-size: 3.5rem;
    font-weight: 700;
    color: $dark-slate;
    letter-spacing: .5rem;
}


